.Project
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 2rem
    padding: 1rem
    &__TitleContainer
        padding: 1rem 0 0 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-size: 1.2rem
        font-weight: 700
    &__Description
        p
            @include ta
                font-size: 1.2rem
            @include sl
                font-size: 1.2rem
    &__Images
        display: flex
        flex-direction: column
        justify-content: center
        gap: .5rem
        width: 100%
    &__Image
        width: 100%
        height: auto
    &__Skills
        width: 100%
        border-top: 1px solid white
        display: flex
        flex-direction: column
        flex-wrap: wrap
        gap: .5rem
    &__SkillsContainer
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: .5rem
        @include ta
            font-size: 1.1rem
        @include sl
            font-size: 1.2rem
    &__Title
        display: flex
        justify-content: center
        align-items: center
        font-size: 1.2rem
        font-weight: 700
        @include ta
            span
                font-size: 1.4rem 
        @include sl
            span
                font-size: 1.4rem
    &__Role
        @include ta
            font-size: 1.4rem
        @include sl
            font-size: 1.4rem