.Hero
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    .Hero__Heading
        display: flex
        flex-direction: row
        .Hero__Brace
            color: $color-accent
            font-size: 3rem
    &__Info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
    &__Name
        font-size: 3rem
        font-weight: 700
    &__Position
        font-size: 1.6rem
        font-weight: 900
        color: $color-accent
    &__Image
        // filter: grayscale(100)

        