.Header
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    background-color: $color-secondary
    color: white
    height: $header-height
    border: none
    &__Icon
        margin-left: 1rem
